@import '../../styles/variables';

.footer {
  background-color: $base-color;
  padding: 2.3rem 4rem;
  position: relative;
  margin-top: 40px;

  &__content {
    max-width: 1400px;
    margin: 0 auto;
  }

  &__column {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 2rem;
  }

  &__cta {
    text-transform: uppercase;
    color: $accent-color;
    font-size: 2rem;
    font-weight: $bold;
    cursor: pointer;
  }

  &__tel {
    color: $text-color;
    text-decoration: none;
    font-size: 3rem;
  }

  &__email {
    color: $accent-color;
    font-size: 2.5rem;
    cursor: pointer;
  }
}

.socials {
  display: flex;
  justify-content: space-between;
  width: 100%;
  align-items: center;

  &__list {
    display: flex;
    padding: 0;
    margin: 0;
    list-style: none;
  }

  &__link {
    color: $grey-color;
    text-transform: uppercase;
    margin-right: 20px;
    font-size: 1.2rem;
    cursor: pointer;
  }

  &__copyright {
    color: #282828;
  }
}
