@import './styles/normalize.scss';
@import './styles/variables.scss';

body {
  font-family: 'Montserrat', sans-serif;
  background-color: rgb(17, 17, 17);
  height: 100%;
}

#root {
  height: 100%;
}

.wrapper {
  display: flex;
  flex-direction: column;
  height: 100%;
}

header {
  /* 0 flex-grow, 0 flex-shrink, auto flex-basis */
  flex: 0 0 auto;
}
.main-content {
  /* 1 flex-grow, 0 flex-shrink, auto flex-basis */
  flex: 1 0 auto;
  margin-left: 500px;
}
footer {
  /* 0 flex-grow, 0 flex-shrink, auto flex-basis */
  flex: 0 0 auto;
}
